<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://demo-db-app.documents.azure.com:443/" />
        <add key="accountKey" value="4F2iUs27hlbrScaytZ768GZvIM8DbdUuCfhdH2lN7UQTz45P8iUoFRSxV8hChyYcIaBsTBtB8hre1j4I0vIIKQ==" />
      </appSettings>
</configuration>